* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dd092f;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.search-input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    margin-right: 0.5rem;
    background-color: #fff;
    color: #333;
}

.search-button {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-button svg {
    width: 20px;
    height: 20px;
}

.card {
    background-color: #77b35b;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.card-content {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.sprite-container {
    margin-right: 2rem;
}

.sprite-container img {
    border-radius: 50%;
}

.info {
    text-align: left;
    flex-grow: 1;
}

.pokedex-number {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 0.8rem;
    color: #ccc;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.stats div {
    background-color: #C6E2FF;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats div:nth-child(2n) {
    background-color: #FFA07A;
}

.stats div:nth-child(3n) {
    background-color: #98FB98;
}

.stats div:nth-child(4n) {
    background-color: #B0E0E6;
}

.stats div:nth-child(5n) {
    background-color: #AFEEEE;
}

.stats div:nth-child(6n) {
    background-color: #FFB6C1;
}

.abilities-container h2 {
    margin-bottom: 0.5rem;
}

.abilities {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.abilities div {
    background-color: #E6E6FA;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}